<p>Enter the number of seats you want to book</p>

<div class="booking-form">
  <input type="number" [(ngModel)]="seatCount" />
  <button (click)="bookSeats(seatCount)">Book</button>
  <p class="error" *ngIf="error != ''">Error: {{ error }}</p>
</div>

<div class="seat-status">
  <p>Seat booking Status</p>
  <p class="seat-status-legend">
    <span class="green"></span> Recently Booked
    <span class="red"></span> Previously Booked
  </p>
  <div class="seats">
    <div *ngFor="let seat of seats; let i = index" class="seat">
      <span
        [ngClass]="{
          booked: seat === 1,
          'recently-booked': isRecentBooking(i)
        }"
      >
        {{ i }}
      </span>
    </div>
  </div>
</div>

